:root {
  --color-background-light: #e4fdd8;
  --color-accent-light: #544b27;
  --color-primary-light: #8ac791;
  --color-secondary-light: #c5f9a9;

  --color-background-dark: #102702;
  --color-accent-dark: #bafe1b;
  --color-primary-dark: #8ac791;
  --color-secondary-dark: #225606;
}

.dark-mode {
  --color-background-dark: #e4fdd8;
  --color-accent-dark: #544b27;
  --color-primary-dark: #8ac791;
  --color-secondary-dark: #c5f9a9;

  --color-background-light: #102702;
  --color-accent-light: #bafe1b;
  --color-primary-light: #8ac791;
  --color-secondary-light: #225606;
}

body {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-background-light);
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-primary-light);
}

.article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-content.reverse {
  flex-direction: column-reverse;
}

.article-image {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.article-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-title {
  text-align: center;
}

.article-text {
  margin-top: 10px;
}

.article-button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
}

.additional-div {
  width: 50px;
  height: 50px;
  background-color: var(--color-background-dark);
  margin-right: 10px;
}

.article-image-block {
  display: flex;
  width: fit-content;
  border-radius: 20px;
  padding: 6px;
  background-color: var(--color-background-dark);
}

footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--color-secondary-light);
  color: var(--color-background-dark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  width: 100%;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

header h1 {
  text-align: center;
  color: var(--color-accent-light);
  font-size: 75px;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

header svg {
  margin-right: 10px;
}

.header-text h2 {
  white-space: nowrap;
  font-family: "NATS";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.017em;
  color: var(--color-background-dark);
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.theme-toggle {
  position: fixed;
  bottom: 2px;
  right: 2px;
}

.nav-menu {
  position: fixed;
  top: 290px;
  left: 10px;
  width: 100%;
}

/* FOR DESKTOP SIZE PUT IT BELOW */
@media only screen and (min-width: 1280px) {
  .mobile-only {
    display: none;
  }

  body {
    margin: 0;
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    background: var(--color-background-light);
  }

  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  article {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-primary-light);
  }

  .article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article-content.reverse {
    flex-direction: row;
  }

  .article-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }

  .article-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .article-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }

  .article-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .article-title {
    text-align: center;
  }

  .article-text {
    margin-top: 10px;
  }

  .article-button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    background-color: var(--color-background-dark);
    color: var(--color-background-light);
  }

  .additional-div {
    width: 50px;
    height: 50px;
    background-color: var(--color-background-dark);
    margin-right: 10px;
  }

  .article-image-block {
    display: flex;
    width: fit-content;
    border-radius: 20px;
    padding: 6px;
    background-color: var(--color-background-dark);
  }

  footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--color-secondary-light);
    color: var(--color-background-dark);
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.017em;
    width: 100%;
    box-sizing: border-box;
  }

  header {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  header h1 {
    text-align: center;
    color: var(--color-accent-light);
    font-size: 75px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .header-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  header svg {
    margin-right: 10px;
  }

  .header-text h2 {
    white-space: nowrap;
    font-family: "NATS";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.017em;
    color: var(--color-background-dark);
    margin: 0;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .theme-toggle {
    position: fixed;
    bottom: 2px;
    right: 2px;
  }

  .nav-menu {
    display: none;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .theme-toggle {
    position: fixed;
    bottom: 2px;
    right: 2px;
  }
}
