:root {
  --color-background-light: #e4fdd8;
  --color-accent-light: #544b27;
  --color-primary-light: #8ac791;
  --color-secondary-light: #c5f9a9;

  --color-background-dark: #102702;
  --color-accent-dark: #bafe1b;
  --color-primary-dark: #8ac791;
  --color-secondary-dark: #225606;
}

.dark-mode {
  --color-background-dark: #e4fdd8;
  --color-accent-dark: #544b27;
  --color-primary-dark: #8ac791;
  --color-secondary-dark: #c5f9a9;

  --color-background-light: #102702;
  --color-accent-light: #bafe1b;
  --color-primary-light: #8ac791;
  --color-secondary-light: #225606;
}

body {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-background-light);
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-primary-light);
}

.article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-content.reverse {
  flex-direction: column-reverse;
}

.article-image {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.article-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-title {
  text-align: center;
}

.article-text {
  margin-top: 10px;
}

.article-button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
}

.additional-div {
  width: 50px;
  height: 50px;
  background-color: var(--color-background-dark);
  margin-right: 10px;
}

.article-image-block {
  display: flex;
  width: fit-content;
  border-radius: 20px;
  padding: 6px;
  background-color: var(--color-background-dark);
}

footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--color-secondary-light);
  color: var(--color-background-dark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  width: 100%;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

header h1 {
  text-align: center;
  color: var(--color-accent-light);
  font-size: 75px;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

header svg {
  margin-right: 10px;
}

.header-text h2 {
  white-space: nowrap;
  font-family: "NATS";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.017em;
  color: var(--color-background-dark);
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.theme-toggle {
  position: fixed;
  bottom: 2px;
  right: 2px;
}

.nav-menu {
  position: fixed;
  top: 290px;
  left: 10px;
  width: 100%;
}

/* FOR DESKTOP SIZE PUT IT BELOW */
@media only screen and (min-width: 1000px) {
  .mobile-only {
    display: none;
  }

  body {
    margin: 0;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background: var(--color-background-light);
  }

  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  article {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-primary-light);
  }

  .article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article-content.reverse {
    flex-direction: row;
  }

  .article-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }

  .article-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .article-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }

  .article-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .article-title {
    text-align: center;
  }

  .article-text {
    margin-top: 10px;
  }

  .article-button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    background-color: var(--color-background-dark);
    color: var(--color-background-light);
  }

  .additional-div {
    width: 50px;
    height: 50px;
    background-color: var(--color-background-dark);
    margin-right: 10px;
  }

  .article-image-block {
    display: flex;
    width: fit-content;
    border-radius: 20px;
    padding: 6px;
    background-color: var(--color-background-dark);
  }

  footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--color-secondary-light);
    color: var(--color-background-dark);
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.017em;
    width: 100%;
    box-sizing: border-box;
  }

  header {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  header h1 {
    text-align: center;
    color: var(--color-accent-light);
    font-size: 75px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .header-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  header svg {
    margin-right: 10px;
  }

  .header-text h2 {
    white-space: nowrap;
    font-family: "NATS";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.017em;
    color: var(--color-background-dark);
    margin: 0;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .theme-toggle {
    position: fixed;
    bottom: 2px;
    right: 2px;
  }

  .nav-menu {
    display: none;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .theme-toggle {
    position: fixed;
    bottom: 2px;
    right: 2px;
  }
}

body[data-page="index"] {
  padding: 0;
  margin: 0;
  background: var(--color-background-light);
}

header[data-page="index"] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu_burger {
  display: none;
}

header[data-page="index"] h1[data-page="index"] {
  width: 500px;
  height: 100px;
  text-align: left;
  align-self: center;
  color: var(--color-accent-light);
  font-size: 75px;
  font-family: Inter;
  font-weight: 700;
  padding-bottom: 20px;
}

header[data-page="index"] img[data-page="index"] {
  width: 194px;
  height: 196px;
  position: relative;
  float: left;
  margin-left: 2em;
  padding-right: 10em;
}

.barre_de_recherche_petit {
  display: none;
}

footer[data-page="index"] {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--color-secondary-light);
  color: var(--color-background-dark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  width: 100%;
  box-sizing: border-box;
}

footer[data-page="index"] > p[data-page="index"] {
  text-align: center;
  color: var(--color-primary-light);
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

input[type="search"] {
  background-color: var(--color-accent-light);
  border: none;
  border-radius: 25px;
  color: var(--color-background-dark);
  font-size: 15px;
  height: 30px;
  outline: none;
  padding: 6px 12px;
  width: 80%;
  position: relative;
  float: left;
  margin-top: 10px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

header[data-page="index"]
  > div[data-page="index"]
  > div[data-page="index"]
  > img[data-page="index"] {
  width: 20px;
  height: 20px;
  padding-left: 6px;
  padding-top: 8px;
  position: relative;
  right: -15.3em;
  bottom: 2.25em;
  border-radius: 20px;
}

main[data-page="index"] {
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.article_petit {
  display: none;
}

article[data-page="index"] h2 {
  width: 385px;
  height: 113px; /*
  left: 345px;
  top: 36px;*/
  text-align: center;
  color: var(--color-background-dark);
  font-size: 50px;
  font-family: Inter;
  font-weight: 700;
  position: relative;
  right: -6.45em;
  word-wrap: break-word;
}

article[data-page="index"] {
  width: 746px;
  height: 506px;
  background: var(--color-primary-light);
  border-radius: 20px;
  position: relative;
  flex-grow: 2;
  margin: 2em;
  padding: 2em;
}

article[data-page="index"] img[data-page="index"] {
  display: block;
  width: 289.05px;
  height: 441.55px;
  position: relative;
  left: 2em;
  bottom: 15.75em;
  border-radius: 20px;
}

article[data-page="index"] > p[data-page="index"] {
  width: 330px;
  height: 70px; /*
  left: 364px;
  top: 205px;*/
  text-align: justify;
  color: var(--color-background-dark);
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  position: relative;
  left: 17.5em;
  top: 2em;
  word-wrap: break-word;
}

nav[data-page="index"] {
  width: 193px;
  height: 370px;
  position: fixed;
  padding-top: 25px;
  left: 0;
  top: 16em;
  border-radius: 20px;
  background: var(--color-secondary-light);
  align-self: center;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 2em;
}

a[data-page="index"] {
  text-decoration: none;
  color: var(--color-background-dark);
}

img[data-page="index"] {
  width: 100%;
  height: auto;
}

aside[data-page="index"] img[data-page="index"] {
  width: 100%;
  height: 85%;
}

aside[data-page="index"] > h2[data-page="index"] {
  text-align: center;
}
aside[data-page="index"] {
  width: 226px;
  height: 506px;
  padding: 10px;
  margin-right: 20px;
  position: sticky;
  background-color: var(--color-primary-light);
  border-radius: 20px;
  flex-grow: 0.3;
  align-self: center;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}

/* Dropdown menu */

.dropdownmenu,
.dropdownmenu ul {
  /* Suppression des puces et des marges pour les listes du menu et des sous-menus */
  list-style-type: none;
}
.dropdownmenu ul {
  /* Masquage des sous-menu par defaut */
  display: none;
}

.dropdownmenu li {
  padding-top: 60px;
}

.dropdownmenu li > ul > li {
  padding-top: 5px;
}
.dropdownmenu a {
  /* On transforme les liens en bloc pour pouvoir les dimensionner */
  display: block;
}
.dropdownmenu li:hover ul {
  /* Affichage du soumenu au survol */
  display: block;
  padding-bottom: 10px;

  /* Positionnement du sous-menu */
  position: absolute;
  text-decoration: none;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

/* Styling for navigation dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/*1200*/
@media screen and (max-width: 1000px) {
  main[data-page="index"] {
    orientation: portrait;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .barre_de_recherche_petit {
    display: block;
  }
  header[data-page="index"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
  }
  header[data-page="index"] > img[data-page="index"] {
    margin-top: 10px;
    width: 10em;
    height: 10em;
    flex-shrink: 1;
    position: relative;
    left: 0;
    top: 0px;
  }
  header[data-page="index"] h1[data-page="index"] {
    position: relative;
    font-size: 3.5em;
    left: -2.5em;
    flex-shrink: 2;
    text-align: center;
    flex-shrink: 2;
  }

  main[data-page="index"] {
    margin: 2em;
  }

  main[data-page="index"]
    > div[data-page="index"]
    > article[data-page="index"] {
    width: 80%;
    padding: 5em;
    height: 450px;
    margin-right: 10em;
  }

  header[data-page="index"] > div[data-page="index"] {
    display: none;
  }

  input[type="search"] {
    background-color: var(--color-accent-light);
    border: none;
    border-radius: 25px;
    color: var(--color-background-light);
    font-size: 15px;
    height: 30px;
    outline: none;
    padding: 6px 12px;
    width: 80%;
    position: relative;
    float: left;
    margin-top: 10px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  .barre_de_recherche_petit {
    display: inline-block;
    position: relative;
    clear: left;
    margin-left: 20px;
    align-items: center;
    margin-right: 2px;
    border-radius: 20px;
    top: -5em;
    right: -3.5em;
  }
  .barre_de_recherche_petit > div[data-page="index"] > img[data-page="index"] {
    position: relative;
    right: 1.6em;
    bottom: 1.1em;
    width: 15px;
    height: 15px;
  }

  .barre_de_recherche_petit > div[data-page="index"]:nth-child(2) {
    width: 26px;
    height: 28px;
    background: var(--color-secondary-light);
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 7px;
    align-items: center;
    margin-right: 2px;
    right: 3.2em;
    top: 3.5px;
    border-radius: 20px;
  }
  .article_petit {
    display: block;
  }

  .article_grand {
    display: none;
  }
  main[data-page="index"] > div[data-page="index"] > img[data-page="index"] {
    margin: 2em;
    width: 80%;
  }

  main[data-page="index"]
    > div[data-page="index"]
    > article[data-page="index"]
    > h2[data-page="index"] {
    width: 80%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    left: 35px;
    top: -2em;
    font-size: 45px;
  }
  main[data-page="index"]
    > div[data-page="index"]
    > article[data-page="index"]
    > p[data-page="index"] {
    width: 80%;
    position: relative;
    margin-top: 2em;
    top: -4em;
    left: 2em;
    text-align: justify;
  }

  aside[data-page="index"] {
    display: none;
  }

  .menu_grand {
    display: none;
  }

  .menu_burger {
    position: relative;
    display: block;
    top: -16.15em;
    margin-left: 1em;
  }

  nav[data-page="index"] {
    background: none;
  }
  .menu > ul[data-page="index"] > li[data-page="index"] {
    list-style: none;
    background-color: var(--color-secondary-light);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }

  .menu > ul[data-page="index"] > li[data-page="index"]:hover {
    background-color: var(--color-primary-light);
  }

  .menu
    > ul[data-page="index"]
    > li[data-page="index"]:hover
    > a[data-page="index"] {
    color: var(--color-secondary-light);
  }
  .burger-menu {
    position: relative;
    top: 15em;

    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .line {
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-accent-light);
    margin: 0.2rem 0;
  }

  .menu {
    display: none;
    z-index: 1;
    top: -15em;
  }

  /* Show the menu when the burger menu is clicked */
  .burger-menu.open + .menu {
    display: block;
    top: 50px;
  }
}

@font-face {
    font-family: 'tussilago';
    src: url("polices/tussilagorg-regular.woff2") format("woff2"),
         url("polices/tussilagorg-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body[data-page="backstage"] {
    background-color: #102702;
    font-family: 'tussilago';
    margin: 0;
}

header[data-page="backstage"] div {
    display: flex;
    justify-content: space-between;
}

header[data-page="backstage"] div div {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

header[data-page="backstage"] h1 {
    color: #bafe1b;
    align-items: center;
    align-self: center;
    text-align: center;
}

header[data-page="backstage"] h2 {
    color: #bafe1b;
    text-align: right;
    align-self: flex-end;
}

header[data-page="backstage"] nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu-burger[data-page="backstage"] {
    display: none;
}

header[data-page="backstage"] h3 {
    display: none;
}

header[data-page="backstage"] nav {
    justify-content: center;
}

nav[data-page="backstage"] img {
    height: 48px;
    width: 48px;
    align-self: center;
    border-radius: 20px;
}

.Burger[data-page="backstage"] {
    display: none;
}

header[data-page="backstage"] p {
    padding: 1em;
    color: #E4FDD8;
    background-color: #225606;
    flex-shrink: 0;
}

.bordDroit[data-page="backstage"] {
    border-radius: 0 20px 20px 0;
}

.bordGauche[data-page="backstage"] {
    border-radius: 20px 0 0 20px;
}

header[data-page="backstage"] a {
    background-color: #E4FDD8;
    padding: 1em;
    border-radius: 20px;
    color: #225606;
}

main[data-page="backstage"] div {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

main[data-page="backstage"] div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
}

main[data-page="backstage"] article {
    background-color: #8AC791;
    width: 90%;
    height: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    flex-shrink: 0;
}

main[data-page="backstage"] article img {
    width: 560px;
}

main[data-page="backstage"] iframe {
    border-radius: 20px;
    max-width: 100%;
}

.interview[data-page="backstage"] {
    width: 721px;
    height: 574px;
    display: flex;
}

.interview[data-page="backstage"] div {
    flex-direction: column;
}

.interview[data-page="backstage"] h2 {
    width: 100%;
    text-align: center;
}

.interview[data-page="backstage"] div div {
    flex-direction: row;
    width: 100%;
}

.interview[data-page="backstage"] div div div {
    flex-direction: column;
    width: 5%;
}


footer[data-page="backstage"] {
    background-color: #225606;
    padding: 1em;
    text-align: center;
}

img[data-page="backstage"] {
    border-radius: 40px;
    flex-shrink: 0;
}

.interview[data-page="backstage"] iframe {

    width: 360px;
    height: 200px;
}

.betisier[data-page="backstage"]{
    width: 730px;
    height: 317px;
    margin: 1em;
    text-align: center;
}

.betisier[data-page="backstage"] iframe {
    width: 360px;
    height: 200px;
}

.betisier[data-page="backstage"] div {
    display: flex;
}

.betisier[data-page="backstage"] div div {
    flex-direction: row;
}

header[data-page="backstage"] div img {
    width: 195px;
}

.bestof[data-page="backstage"] {
    width: 415px;
    height: 919px;
    max-width: 100%;
    text-align: center;
}

.bestof[data-page="backstage"] iframe {
    width: 360px;
    height: 200px;
    max-width: 100%;
}

.mobile-container[data-page="backstage"] {
    display: none;
}

.topnav[data-page="backstage"] {
    display: none;
}

footer[data-page="backstage"] > p[data-page="backstage"] {
    text-align: center; 
    color: #E4FDD8; 
    font-size: 20px; 
    font-family: 'Inter'; 
    font-weight: 700; 
    word-wrap: break-word;
}

@media screen and (max-width: 428px) {
    body[data-page="backstage"] {
        flex-direction: column;
        width: 100%;
    }

    .Burger[data-page="backstage"] {
        display: none;
    }

    .topnav[data-page="backstage"] {
        display: inline;
        overflow: hidden;
        position: relative;
        flex-wrap: nowrap;
    }

    .topnav[data-page="backstage"] #myLinks {
        display: none;
    }

    .topnav[data-page="backstage"] a {
        color: #102702;
        padding: 0;
        text-decoration: none;
        display: block;
        align-self: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .topnav[data-page="backstage"] a.icon {
        background: #102702;
        display: inline;
        align-self: center;
    }

    .topnav[data-page="backstage"] a {
        background-color: #225606;
        text-align: center;
    }

    .topnav[data-page="backstage"] a:hover {
        background-color: #8AC791;
        color: black;
    }

    .topnav[data-page="backstage"] a.icon:hover {
        background-color: #102702;
    }

    .active[data-page="backstage"] {
        background-color: #8AC791;
        color: #102702;
    }

    .topnav[data-page="backstage"] img {
        border-radius: 0;
    }
}
