body{
    background-color: #102702;
}
header div{
    
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

header h1{
    color: #bafe1b;
    text-align: center;
}

header h2{
    color: #bafe1b;
    text-align: right;
}

header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav{
    justify-content: center;
}

header p{
    padding: 1em;
    color: #E4FDD8;
    background-color: #225606;
    flex-shrink: 0;
}

.bordDroit{
    border-radius: 0 20px 20px 0;
}

.bordGauche{
    border-radius: 20px 0 0 20px;
}

header a{
    background-color: #E4FDD8;
    padding: 1em;
    border-radius: 20px;
    color: #225606;
}

main div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main div div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main article{
    background-color: #8AC791;
    margin: 10em;
    padding: 10em;
    border-radius: 20px;
}

main article img{
    width: 560px;
}

main iframe{
    border-radius: 20px;
}

footer {
    background-color: #225606;
    padding: 1em;
}

img{
    border-radius: 40px;
}