
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #102702
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
}

.menu_burger {
  display: none;
}

header h1 {
    width: 500px;
    height: 100px;
    text-align: justify;
    align-self: center;
    color: #BAFE1B; 
    font-size: 75px; 
    font-family: Inter; 
    font-weight: 700; 
}

header img {
    width: 194px; 
    height: 196px;
    position: relative;
    float: left;
    padding-right: 10em;
}

header div p{
  right: 20px;
}


footer {
    width: 100%;  
    height: 74px;
    padding: 30px;
    text-align: center;
    background: #225606;
}

footer > p {
    text-align: center; 
    color: #E4FDD8; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
}

header > div {
    width: 321px; 
    height: 52px; 
    background: #BAFE1B; 
    border-radius: 20px;
    padding-left: 10px;
}


input[type="search"] {
  background-color: #BAFE1B;
  border: none;
  border-radius: 25px;
  color: #102702;
  font-size: 15px;
  height: 30px;
  outline: none;
  padding: 6px 12px;
  width: 80%;
  position: relative;
  float: left;
  margin-top: 10px;
  font-family: Inter; 
  font-weight: 700; 
  word-wrap: break-word;
}

header > div :nth-child(2) {
    width: 36px; 
    height: 38px; 
    background: #225606; 
    display: inline-block;
    position: relative;
    clear: left;
    margin-left: 20px;
    margin-top: 7px;
    border-radius: 20px;
}

header > div > div > img {
    width: 20px; 
    height: 20px; 
    padding-left: 6px;
    padding-top: 8px;
    position: relative;
    left: 17.5em;
    bottom: 2.25em;
    border-radius: 20px;
}
/*
header > div > div > img {
    width: 60%; 
    height: 60%;
    
}*/

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

article h2{
    width: 385px;
    height: 113px;/*
    left: 345px;
    top: 36px;*/
    text-align: center;
    color: #102702;
    font-size: 50px;
    font-family: Inter;
    font-weight: 700;
    position: relative;
    bottom: 11em;
    left: 6.5em;
    word-wrap: break-word;
}




article{
    width: 746px;
    height: 506px;
    background: #8AC791;
    border-radius: 20px;
    position: relative;
    flex-grow: 2;
    margin: 2em;
    
}

article img{
    display: block;
    width: 289.05px;
    height: 441.55px;
    position: relative;
    left: 2em;
    bottom: 4.75em;
    border-radius: 20px;
}

article > p{
  width: 400px;
  height: 70px;/*
  left: 364px;
  top: 205px;*/
  text-align: justify;
  color: #102702;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  position: relative;
  left: 17.5em;
  top: 10em;
  word-wrap: break-word;

}



nav {
    width: 193px; 
    height: 370px; 
    position: sticky;
    padding-top: 25px;
    left: 0;
    border-radius: 20px;
    background: #225606;
    flex-grow: 1;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;

}

a {
  text-decoration: none;
  color: #E4FDD8;
 }
 
img {
  width: 100%;
  height: auto;
}

aside img {
  width: 100%;
  height: 85%;
}

aside > h2{
  text-align: center;
}
aside {
  width: 226px;
  height: 506px;
  padding: 10px;
  margin-right: 20px;
  position: sticky;
  background-color: #8AC791;
  border-radius: 20px;
  flex-grow: 1;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}

 /* Dropdown menu */
 
 .dropdownmenu,
 .dropdownmenu ul {
   /* Suppression des puces et des marges pour les listes du menu et des sous-menus */
   list-style-type: none;
   
 }
 .dropdownmenu ul {
   /* Masquage des sous-menu par defaut */
   display: none;
 }
 
 .dropdownmenu li {
   padding-top: 60px;
 }

 .dropdownmenu li>ul>li {
   padding-top: 5px;
 }
 .dropdownmenu a {
   /* On transforme les liens en bloc pour pouvoir les dimensionner */
   display: block;
 }
 .dropdownmenu li:hover ul {
   /* Affichage du soumenu au survol */
   display: block;
   padding-bottom: 10px;
 
   /* Positionnement du sous-menu */
   position: absolute;
   text-decoration: none;
  
 }



 .slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}



/* Styling for navigation dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

@media screen and (max-width: 750px)
{   
    main{
        orientation: portrait;
        display: flex;
        flex-direction: column;
    }
    
    header {
      padding: 10px;
    }
    header > img{
      margin-top: 10px;
      width: 5em;
      height: 5em;
    }
    header h1{
      position: absolute;
      font-size: 3em;
      text-align: center;
    }

    article {
      width: 80%;
      padding: 0;
      height: 300px;
    }
    
    header > div {
      position: relative;
      top: 5px;
      left: 5em;
    }
    article > img{
      width: 100%;
      width: 84%;
      top: 21em;
    }
    article > h2{
      width: 80%;
      position: relative;
      left: 35px;
      bottom: 12.5em;
      font-size: 45px;
    }
    article > p{
      width: 80%;
      position: relative;
      top: 6em;
      left: 37px;
      text-align: justify;
    }
    
    header nav{
        display: none;
    }
    
    aside{
      display: none;
    }

    
    
    .menu_grand {
      display: none;
    }

    .menu_burger{
      position: relative;
      display: block;
      bottom: 8.75em;
      right: 13em;
    }

    .burger-menu {
      position: relative;
      top: 15em;
      
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
    
    .line {
      display: block;
      width: 100%;
      height: 0.25rem;
      background-color: #BAFE1B;
      margin: 0.2rem 0;
    }
    
    .menu {
      display: none;
    }
    
    /* Show the menu when the burger menu is clicked */
    .burger-menu.open + .menu {
      display: block;
    }
}
